[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
droopy = {editable = true,path = "."}
e1839a8 = {editable = true,path = "."}

[packages]
dropbox = "*"

[requires]
python_version = "3.7"
